.controllers {
  width: 90%;
  display: flex;
  margin: -2rem auto 0;
  gap: 3rem;

  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .navigation__page {
      color: #42567a;
      line-height: 100%;
      font-size: 1.2rem;
    }

    .navigation__buttons {
      display: flex;
      gap: 1rem;

      & button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid #42567a80;
        border-radius: 50%;
        transition: transform 0.2s ease;
        background: none;

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    & li {
      list-style: none;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      background-color: #42567a;
      opacity: 0.4;

      &.active {
        opacity: 1;
        width: 0.7rem;
        height: 0.7rem;
      }
    }
  }

  @media (max-width: 430px) {
    margin-top: 6rem;
  }
}
